<launch>
    <!-- Launch unitree_legged_real -->
    <include file="$(find unitree_legged_real)/launch/real.launch">
        <arg name="ctrl_level" value="highlevel"/>
    </include>

    <!-- Launch mren_waste_collector nodes -->
    <node pkg="mren_waste_collector" type="realsense_publisher" name="realsense_publisher" output="screen"/>
    <node pkg="mren_waste_collector" type="orange_publisher" name="orange_publisher" output="screen"/>
    <node pkg="mren_waste_collector" type="simple_servoing_node" name="simple_servoing_node" output="screen"/>

    <!-- Launch open_manipulator_controller -->
    <include file="$(find open_manipulator_controller)/launch/open_manipulator_controller.launch"/>

    <!-- Launch manipulator preset controller -->
    <node pkg="unified_launcher" type="manipulator_preset_controller.py" name="manipulator_preset_controller" output="screen"/>

    <!-- Launch manipulator direct controller -->
    <node pkg="unified_launcher" type="manipulator_direct_controller.py" name="manipulator_direct_controller" output="screen"/>
</launch>
